<div class="row my-5">
  <div class="col-12">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to KGWeb</h1>
      <p class="lead">A demo Angular application.</p>
      <hr class="my-4">
      <p>This is a minimal Angular project showcasing communication with desktop application and angular application.</p>
    </div>
  </div>
</div>

<!-- KGWin Application Launcher Section -->
<div class="row mb-5">
  <div class="col-12">
    <div class="card border-primary">
      <div class="card-header bg-primary text-white">
        <h3 class="mb-0">
          <i class="fas fa-desktop me-2"></i>
          KGWin Desktop Application
        </h3>
      </div>
      <div class="card-body">
        <div class="row">
                     <div class="col-12">
            <h5 class="card-title">Launch KGWin Desktop Application</h5>
                         <p class="card-text">
               Connect to the KGWin desktop application for offline map functionalities.
             </p>

            
            <!-- Launch Parameters Section -->
            <div class="mt-4 mb-3">
              <h6 class="text-muted mb-3">
                <i class="fas fa-cog me-2"></i>
                Launch Parameters
              </h6>
              <div class="row">
                <div class="col-md-6">
                  <label for="assetId" class="form-label">Asset ID</label>
                  <select class="form-select" id="assetId" [(ngModel)]="selectedAssetId">
                    <option *ngFor="let asset of assetOptions" [value]="asset.value">
                      {{ asset.label }}
                    </option>
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="layerId" class="form-label">Layer ID</label>
                  <select class="form-select" id="layerId" [(ngModel)]="selectedLayerId">
                    <option *ngFor="let layer of layerOptions" [value]="layer.value">
                      {{ layer.label }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            
            <div class="mt-3 text-end">
              <button class="btn btn-primary btn-lg" (click)="launchKGWin()">
                <i class="fas fa-rocket me-2"></i>
                Launch KGWin Application
              </button>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>


